.customers {
    .container {
        display: flex;
    }
}

.customers-list {
    display: flex;
}

.customers-list-item:not(:last-child) {
    margin-right: 30px;
}

.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
}

.customers-link-item-logo{
    fill: #AFB1B8;
}

.customers-list-link:hover .customers-link-item-logo,
.customers-list-link:focus .customers-link-item-logo{
    fill: $accent-btn-collor;
}
.customers-list-link:hover,
.customers-list-link:focus{
    border: 1px solid $accent-btn-collor;
}