.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    & .logo {
        color: $titel-light-color;
        margin-bottom: 20px;
    }

    & .container {
        display: flex;
    }
}

.footer-colomn-first {
    margin-right: 63px;
}

.footer-colomn-second {
    margin-right: 94px;
    padding-top: 12px;
}

.footer-social-links-item-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #fff;

    &:hover,
    &:focus{
        background-color: $accent-btn-collor;
        border-radius: 50%;
        fill: #fff;
    }
}

.footer-subcribe-to{
    display: flex;
}

.footer-colomn-third{
    padding-top:12px;
}
.footer-titel {
    font-weight: 700;
    color: $titel-light-color;

    margin-bottom: 20px;
    
}

.footer-subcribe-input{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;

    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    width: 358px;
    height: 18px;
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;

    margin-right: 12px;
}
.contacts-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.contacts-list-link-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: $titel-light-color;
    
}

.contacts-list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
   
}
