.header .container {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.header .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 85px;
}

.logo-accent {
    color: var(--accent-color);
}

.navigation-list {
    display: flex;
}

.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--titel-dark-color);

    padding-top: 32px;
    padding-bottom: 32px;
}

.active-page{
    color: var(--accent-color);
    padding-bottom: 0px;
}

.active-page::after{
    content: "";
    display: block;
    width: auto;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    margin-top: 28px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

.header-address {
    display: flex;
    align-items: center;
}

.header-address-list {
    display: flex;
    align-items: center;
}

.header-mail {
    margin-right: 30px;
}

.header-tel-icon{
    width: 10px;
    height: 15px;
    fill: currentColor;
    margin-right: 10px;
}
.header-mail-icon{
    width: 16px;
    height: 11px;
    fill: currentColor;
    margin-right: 10px;
}

.header-mail,
.header-tel {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-dark-color);

    padding-top: 32px;
    padding-bottom: 32px;
}