.team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
}

.team-list-item{
    width: 270px;
    padding-bottom: 24px;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team-list-item-img {
    margin-bottom: 30px;
}

.team-list-item-position {
    margin-bottom: 16px;
}

.team-list-item-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $titel-dark-color;
}

.team-list-item-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-links {
    display: flex;
    justify-content: center;
    
}

.social-links-item:not(:last-child){
    margin-right: 10px;
}

.social-links-item-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    fill: #afb1b8;

    &:hover,
    &:focus{
        background-color: $accent-btn-collor;
        border-radius: 50%;
        fill: #fff;
    }
}

.social-link-item-logo{
    position: center;
    width: 20px;
    height: 20px;
}

