.we-do {
    background-color: AFB1B8;
}

.we-do-list{
    display: flex;
}

.we-do-list-item:not(:last-child){
    margin-right:30px;
}

.titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titel-dark-color);
}
.we-do-list-item{
    position: relative;
}

.we-do-list-link{
    position: absolute;
    bottom: 0;
    

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    width: 370px;
    height: 70px;

    background-color:rgba(47, 48, 58, 0.8);
}

.we-do-list-titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--titel-light-color);
    
}