.work{
    padding-top:50px;
    padding-bottom:94px;
}

.work-list{
    display: flex;
    flex-wrap: wrap;
}

.work-list-item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n){
        margin-right: 0;
    }
    
    &:nth-last-child(-n+3){
        margin-bottom: 0;
    } 
}

.work-list-item-card{
    width: 370;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;

    display: block;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.work-list-link {
    &:hover{
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
        0px 1px 1px rgba(0, 0, 0, 0.12);
    }
    
    &:hover .overlay,
    &:focus .overlay{
        top: 0;
    }

}

.work-list-titel {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $titel-dark-color;

    margin-bottom: 4px;
}
.work-list-item-img-wrapper{
    position: relative;
    overflow: hidden;
}

.work-list-description {
    padding: 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $text-lite-color;
}

.work-list-kind {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $text-dark-color;
}

.overlay{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}