    $main-font: 'Roboto', sans-serif;
    $secondary-font: 'Raleway', sans-serif;
    $accent-color: #2196F3;
    $logo-black-color: #000000;
    $logo-light-color: #ffffff;
    $titel-dark-color: #212121;
    $titel-light-color: #ffffff;
    $accent-btn-collor: #2196F3;
    $text-btn-collor: #ffffff;
    $text-lite-color: #ffffff;
    $text-dark-color: #757575;
    $portfolio-btn-color: #F5F4FA;

